<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="pQRvyuFOil"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="个人博客,dmcool,个人博客模板,个人网站模版,django,python,网站建设">
    <meta name="description" content="DM的个人网站，web知识与探索，django与python技术资料，网页模版下载，个人网站建设">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/homepage/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/demo.css">

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/component.css">

    <!--[if IE]>
{#<script src="js/html5.js"></script>#}
<![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header" style="height: 736px;">
            <canvas id="demo-canvas" width="414" height="736"></canvas>
            <h1 id="alipay" style="block:none;"
                value="BjbzWh57Yj | DM博客">
                BjbzWh57Yj | DM博客
            </h1>
            <h1 class="main-title">
                <a id="copy" data-clipboard-target="#alipay" href="/">Enter</a>
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="/static/js/jquery-3.2.1.min.js"></script>
                <script src="/static/js/clipboard.min.js" type="text/javascript"></script>
                <script>
                    $(document).ready(function () {
                        var clipboard = new Clipboard('#copy');
                    });
                </script>
                <span class="thin">DM</span>
            </h1>

        </div>

    </div>
</div><!-- /container -->
<script src="/static/homepage/js/TweenLite.min.js"></script>
<script src="/static/homepage/js/EasePack.min.js"></script>
<script src="/static/homepage/js/rAF.js"></script>
<script src="/static/homepage/js/demo.js"></script>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>

{#出自http://www.777moban.com/Preview/35_196/#}